# Server config
PORT=3080
HOST=http://localhost:3080

# MONGO DB config
MONGO_URI=mongodb://localhost:27017/csvlint
MONGO_DB=csvlint

# Wrapper location for CSVLint.rb gem
CSVLINT_API = http://localhost:4567/validate